html, body, #main {
    height: 100%;
}

.ie9 *, .ie8 * {
    border-radius: 0 !important;
}

#top_part {
    min-height: 100%;
    margin: 0 auto;
}

.body_width_limit {
    min-width: 600px;
    max-width: 1000px;
    margin: 0px auto;
    position: relative;
}

#header {
    margin-bottom: 32px;
}

#title {
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 60px;
}

#tabs {
    position: absolute;
    bottom: 0;
    right: 0;
}

#tabs a.tab {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    text-align: center;
    margin: 0px 3px;
    border-radius: 8px 8px 0 0;
    color: #F2F3FD;
    text-shadow: 0px -1px #9B9B9B;
    text-decoration: none;
    border: 1px solid transparent;
}

#tabs a.tab:hover {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: none;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.10);
}

#tabs a.tab.sel1 {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-bottom: none;
    box-shadow: inset 1px 1px rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
}

#navigation {
    padding: 2px 10px;
    height: 32px;
}

#navigation a {
    margin: 2px;
    display: inline-block;
}

#navigation_user {
    min-height: 40px;
    padding: 5px 10px;
    text-align: right;
    box-shadow: 0 2px 5px -3px #000 inset;
    background-color: #F0F0F0;
    border-bottom: 1px solid #E6E6E6;
}

#navigation_user a {
    margin: 2px;
    display: inline-block;
    box-shadow: inset 1px 1px #F7F7F7;
    border-color: #CCC;
    border-bottom-color: #BBB;
    color: #9E9E9E;
    text-shadow: 0 1px #FFF;
    text-decoration: none;
}

#navigation_user a:hover{
    border-color: #B8B8B8;
    border-bottom-color: #A0A0A0;
    color: #999;
}

#navigation_user a:active{
    background: #DBDBDB;
    box-shadow: inset 1px 1px #D6D6D6, -1px -1px #F5F5F5;
    text-shadow: 0 1px #BEBEBE;
    color: #FFF;
}

#messages > div {
    margin: 5px auto;
    padding: 5px 2%;
    min-width: 50%;
    text-align: center;
}

#adt_top, #adt_bottom {
    text-align: center;
    margin-bottom: 20px;
}

#adt_top a, #adt_bottom a {
    display: block;
    margin: 5px;
}

#adt_top {
    border-radius: 2px;
}

#menu {
    display: inline-block;
    width: 28%;
    padding: 0 10px;
}

#content {
    display: inline-block;
    width: 70%;
}

.animate.ng-hide-add, .animate.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block !important;
}

.animate.ng-hide-add.ng-hide-add-active,
.animate.ng-hide-remove {
    opacity: 0;
}

.animate.ng-hide-add,
.animate.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.select_bar {
    margin: 5px;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
}

.select_bar span, .select_bar a {
    margin: 0 3px;
    font-weight: bold;
    max-width: 32%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.select_bar a:hover {
    box-shadow: 1px 1px 4px -2px #000;
    text-decoration: none;
}

/*region form*/

.form {
    position: relative;
    background: #FAFAFA;
    border: 1px #DBDBDB solid;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px 1px #F0F0F0;
    font-size: 12px;
}

.form .refresh {
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 16px;
    height: 16px;
    opacity: 0.5;
    transition: all 500ms;
    -moz-transition: all, 500ms; /* Firefox 4 */
    -webkit-transition: all 500ms; /* Safari и Chrome */
    -o-transition: all 500ms; /* Opera */
}

.form .refresh:hover {
    opacity: 1;
}

.form .msg, .form .err {
    position: absolute;
    bottom: 3px;
    right: 3px;

}

.form .waiter {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 40px;
    height: 40px;
    background: url('img/waiter2.gif') no-repeat;
}

.form .msg {
    color: #3F7EFD;

}

.form .err {
    color: #FF5757;
}

.form select {
    border: 1px solid #CCC;
    padding: 1px;
    border-radius: 2px;
    outline: 1px solid #fff;
}

.form input[type="text"], .form input[type="password"], .form textarea {
    box-shadow: 1px 1px 1px 0px #E2DFDF inset, 0 0 0 1px #FFF;
    margin-bottom: 10px;
}

.form input[type="text"], .form input[type="password"] {
    margin-right: 5px;
    padding: 3px 6px;
    border: 1px #CCC solid;
    border-radius: 2px;
}

.form input[type="text"]:disabled, .form input[type="password"]:disabled {
    border-color: #DADADA;
    background-color: #EEE;
    box-shadow: none;
    color: #666;
}

.form input[type="submit"] {
    margin-right: 5px;
}

.form textarea {
    font-size: 13px;
    height: 38px;
    overflow: hidden;
    resize: none;
    background-color: #fff;
    border-radius: 2px;
    border: 1px #CCC solid;
    padding: 3px;
}

.form textarea.animate:focus {
    -webkit-transition: height 100ms ease-in-out;
    -moz-transition: height 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out;
    transition: height 100ms ease-in-out;
}

.form .textarea_wrapper {
    border: 1px #E2E2E2 solid;
    padding: 1px;
    border-radius: 4px;
    position: relative;
}

.form .textarea_wrapper.with_ctrl_enter:after {
    display: block;
    content: 'Ctrl + Enter';
    position: absolute;
    bottom: 3px;
    right: 3px;
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    padding: 3px;
    border-radius: 2px;
}

.form .textarea_wrapper textarea {
    margin: 0;
}

.form .textarea_wrapper .textarea_bbcode span {
    display: inline-block;
    padding: 1px 6px;
    margin: 1px;
    background-color: #EEE;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #E9E9E9;
    border-radius: 1px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.form .textarea_wrapper .textarea_bbcode span:hover {
    border-color: #CFCFCF;
}

.form input[type="text"]:focus, .form input[type="password"]:focus, .form textarea:focus {
    border-color: #A8A8A8;
}

/*endregion*/

/*region smiles*/
.smiles {
    position: relative;
    float: right;
}

/* обводка стрелочки */
.smiles_drop_menu:before {
    content: '';
    position: absolute;
    top: -17px;
    right: 24px;
    height: 0;
    width: 0;
    border: transparent solid 8px;
    border-bottom-color: rgba(0, 0, 0, 0.38);
}

/* стрелочка */
.smiles_drop_menu:after {
    content: '';
    position: absolute;
    top: -16px;
    right: 24px;
    height: 0;
    width: 0;
    border: transparent solid 8px;
    border-bottom-color: #FFFFFF;
}

/* меню смайлов */
.smiles_drop_menu {
    position: absolute;
    top: 24px;
    right: 0;
    width: 200px;
    height: 150px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 3px;
    z-index: 1;
}

/* внутренний контейнер меню смайлов */
.smiles_drop_menu_container {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: #eeeeee;
    border: 1px solid #D8D8D8;
    box-shadow: inset 1px 1px 4px -3px #000;
    overflow-x: hidden;
    overflow-y: auto;
}

.smiles_drop_menu_container div {
    display: inline-block;
    min-width: 40px;
    min-height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ECECEC;
    margin: 1px;
    border-radius: 3px;
}

.smiles_drop_menu_container div:hover {
    border: 1px solid #d3d3d3;
}

.smiles_drop_menu_container div img {
    vertical-align: middle;
}

/*endregion*/

/*region listing*/

.listing {
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px 1px #F0F0F0;
}

.listing .post {
    background: #FAFAFA;
    border: 1px #DBDBDB solid;
    color: #686868;
    padding: 5px;
    display: block;
    border-top-style: none;
    font-size: 90%;
    box-shadow: 0 0 0 1px #FCFCFC inset;
    overflow: hidden;
    position: relative;
}

.listing .post.image {
    min-height: 50px;
}

.listing .post:hover:not([data-post-url=""]) {
    text-decoration: none !important;
    background-color: white;
    cursor: pointer;
}

.listing .post.selection:hover:not([data-post-url=""]) {
    cursor: text;
}

.post:first-child {
    border-top-style: solid !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.post:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.post.ng-enter {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.post.ng-leave {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.post .post_counter,
.post .post_bottom,
.post .post_content,
.post .post_image,
.post .post_icon,
.post.icon.image .post_icon, /* если отображается изображение, то иконку скрываем*/
.post .post_actions,
.post .post_time {
    display: none;
}

.post.icon .post_icon {
    display: inline-block;
    padding: 2px;
}

.post.highlight .post_title {
    font-weight: bold;
    padding: 2px;
}

.post.content .post_head {
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 7px;
}

.post.content .post_content {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    padding: 5px;
}

.post.bottom .post_bottom {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    text-align: right;
    opacity: 0.6;
    margin-top: 4px;
    font-size: smaller;
}

.post.time .post_time,
.post.counter .post_counter,
.post.actions .post_actions {
    float: right;
    margin-left: 10px;
}

.post .post_head > * {
    vertical-align: middle;
}

.post.time .post_time {
    display: inline-block;
    font-size: smaller;
    opacity: .66;
}

.post.counter .post_counter {
    display: inline-block;
    font-weight: bold;
    border: 1px solid #E0E0E0;
    padding: 2px 5px;
    min-width: 32px;
    text-align: center;
    box-shadow: inset 1px 1px 0 #F3F3F3;
    border-radius: 3px;
    background: #F5F5F5;
    color: #7E7E7E;
    text-shadow: 0 1px #FFF;
}

.post.actions .post_actions {
    display: inline-block;
}

.post_actions a {
    opacity: .66;
    margin-left: 2px;
}

.post_actions a:hover {
    opacity: 1;
}

.post.image .post_image {
    position: absolute;
    display: inline-block;
    width: 50px;
    left: 3px;
    top: 3px;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #BBB;
    box-shadow: 1px 1px 3px #E4E4E4;
}

/* отступ для картинки */
.post.image .post_head,
.post.image .post_content,
.post.image .post_bottom {
    padding-left: 54px;
}

.listing .post .post_content img:not([data-origin=""]){
    cursor: pointer;
}

/*endregion*/

.pages {
    text-align: center;
}

.pages > * {
    display: inline-block;
    margin: 5px;
}

#empty {
    clear: both;
    height: 50px;
    visibility: hidden;
}

#footer {
    min-height: 50px;
    margin-top: -50px;
    padding: 15px;
    color: #A2A2A2;
    text-align: center;
}

#footer a {
    color: #A2A2A2;
    font-weight: bold;
}

#copyright {
    float: left;
}

#generation {

}

#language {
    float: right;
}

.votes {
    background: #f0f0f0;
    border: 1px #DBDBDB solid;
    color: #686868 !important;
    padding: 10px;
    box-shadow: 0 0 0 1px whiteSmoke inset;
    border-radius: 2px;
    font-size: 90%;
    margin-bottom: 20px;
}

.vote_name {
    display: block;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.vote_pc {
    height: 18px;
    padding: 0px 7px;
    text-align: right;
}

.vote_plus {
    padding: 1px 7px;
    display: block;
    height: 20px;
    text-align: center;
    margin-left: 7px;
}

.DCMS_quote {
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 6px -4px black inset;
    padding: 6px;
    color: #838383;
    margin-left: 24px;
}

.DCMS_quote a {
    color: #838383;
}

.DCMS_photo {
    display: block;
    margin: 2px auto;
    background: #EBEBEB;
    padding: 5px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

.DCMS_nick_on {
}

.DCMS_nick_on:after {
    content: '●';
    margin-left: 2px;
}

.DCMS_nick_on:after {
    color: #07BE07;
}

.DCMS_nick_off {

}

.DCMS_phpcode {
    max-height: 400px;
    max-width: 684px;
    overflow: auto;
    border: 1px solid #E2E2E2;
    padding: 5px;
    border-radius: 2px;
    background-color: #F7F7F7;
    box-shadow: 0 0 8px -5px black inset;
}

.DCMS_spoiler {
    border: 1px #ccc solid;
    border-radius: 2px;
    padding: 3px;
}

.DCMS_spoiler > .DCMS_spoiler_title {
    cursor: pointer;
}

.DCMS_spoiler > .DCMS_spoiler_title:before {
    content: '▼ ';
}

.DCMS_spoiler.collapsed > .DCMS_spoiler_title:before {
    content: '► ';
}

.DCMS_spoiler.collapsed > .DCMS_spoiler_content {
    height: 0;
}

.DCMS_spoiler > .DCMS_spoiler_content {
    overflow-y: hidden;
}